<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 资源路径配置 -->
	<bean id="SourceConf" class="com.codeCoder.conf.SourceConf">
		<property name="sourceBasePath" value="D:/GitHub/code-coder/src/main/webapp/source/" />
		<property name="sourceFileList">
			<list>
				<value>table_object.json</value>
			</list>
		</property>
	</bean>

	<!-- 模板路径配置 -->
	<bean id="CodeTmplConf" class="com.codeCoder.conf.CodeTmplConf">
		<property name="codeTmplBasePath"
			value="D:/GitHub/code-coder/src/main/webapp/codeTmpl/" />
		<property name="codeTmplFileMap">
			<map>
				<entry key="api" value="API.jtmpl" />
				<entry key="iAction" value="IAction.jtmpl" />
				<entry key="action" value="Action.jtmpl" />
				<entry key="check" value="Check.jtmpl" />
				<entry key="iService" value="IService.jtmpl" />
				<entry key="service" value="Service.jtmpl" />
				<entry key="iDao" value="IDAO.jtmpl" />
				<entry key="dao" value="DAO.jtmpl" />
				<entry key="po" value="PO.jtmpl" />
				<entry key="sqlXml" value="SQL.xtmpl" />
				<entry key="sql" value="table.stmpl" />
			</map>
		</property>
	</bean>

	<!-- 代码文件生成路径配置 -->
	<bean id="OutputConf" class="com.codeCoder.conf.OutputConf">
		<property name="outputBasePath" value="D:/GitHub/code-coder/src/main/webapp/output/" />
		<property name="outputFileMap">
			<map>
				<entry key="api" value="$packagePath$/ws/$className$API.java" />
				<entry key="iAction" value="$packagePath$/ucc/I$className$Action.java" />
				<entry key="action" value="$packagePath$/ucc/impl/$className$Impl.java" />
				<entry key="check" value="$packagePath$/ucc/impl/$className$Check.java" />
				<entry key="iService" value="$packagePath$/bs/I$className$Service.java" />
				<entry key="service" value="$packagePath$/bs/impl/$className$ServiceImpl.java" />
				<entry key="iDao" value="$daoPackagePath$/I$className$DAO.java" />
				<entry key="dao" value="$daoPackagePath$/impl/$className$DAOImpl.java" />
				<entry key="po" value="$daoPackagePath$/po/$className$PO.java" />
				<entry key="sqlXml" value="$daoPackagePath$/po/$firstLowerName$_SqlMap.xml" />
				<entry key="sql" value="$packagePath$/$tableName$.sql" />
			</map>
		</property>
	</bean>

	<!-- 配置文件工厂 -->
	<bean id="CoderConfFactory" class="com.codeCoder.conf.CoderConfFactory">
		<property name="sourceConf" ref="SourceConf" />
		<property name="codeTmplConf" ref="CodeTmplConf" />
		<property name="outputConf" ref="OutputConf" />
	</bean>

</beans>