<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 资源路径配置 -->
	<bean id="SourceConf" class="com.codeCoder.conf.SourceConf">
		<property name="sourceBasePath" value="D:/GitHub/code-coder/src/main/webapp/source/" />
		<property name="sourceFileList">
			<list>
				<value>table_object.json</value>
			</list>
		</property>
	</bean>

	<!-- 模板路径配置 -->
	<bean id="CodeTmplConf" class="com.codeCoder.conf.CodeTmplConf">
		<property name="codeTmplBasePath"
			value="D:/GitHub/code-coder/src/main/webapp/codeTmpl/" />
		<property name="codeTmplFileMap">
			<map>
				<entry key="" value="" />
			</map>
		</property>
	</bean>

	<!-- 代码文件生成路径配置 -->
	<bean id="OutputConf" class="com.codeCoder.conf.OutputConf">
		<property name="outputBasePath" value="D:/GitHub/code-coder/src/main/webapp/output/" />
		<property name="outputFileMap">
			<map>
				<entry key="" value="" />
			</map>
		</property>
	</bean>

	<!-- 配置文件工厂 -->
	<bean id="CoderConfFactory" class="com.codeCoder.conf.CoderConfFactory">
		<property name="sourceConf" ref="SourceConf" />
		<property name="codeTmplConf" ref="CodeTmplConf" />
		<property name="outputConf" ref="OutputConf" />
	</bean>

</beans>